*.fig
geoclawIDE/
pdaf_online/
*.pyc
*.m
*.o
*.mod
*.data
.output
.data
.plots
xclaw
xamr
xgeoclaw
*.html
_output/
_output*
_plots/
_plots*
*~
*.asc
*.tt3
*.tt1
*.xyz
scratch/*
!scratch/README.txt
ens_*
obs.txt
state_ini.txt
true.txt
PDAF_offline
